.chat-room{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.hidden{
    visibility: hidden !important;
    opacity: 0 !important;
    display: none;
}

header {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.header-logo{
    width: 75px;
}

header ion-icon {
    font-size: 42px;
}

.container-messages {
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
    padding-top: 26px;
    font-size: 14px;
}

.inline-message{
    width: 100%;
    line-height: 20px;
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 10px 8px;
    font-weight: 400;
    word-wrap: break-word;
}

.inline-message__timestamp{
    color: #aaaaaa;
}

.inline-message__sender, .inline-message__receiver{
    font-weight: 700 !important;
}

.status{
    background-color: #dcdcdc;
}

.public-message{
    background-color: white;
}

.private-message{
    background-color: #ffdede;
}

.form-send-message {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 15px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.form-send-message > div {
    height: 100%;
    width: 100%;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-send-message input{
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 18px;
    outline: none;
    color: black;
}

.form-send-message input::placeholder {
    color: black;
    opacity: 1;
    font-size: 18;
    font-style: italic;
}

.form-send-message button {
    font-size: 26px;
    width: 26px;
    height: 26px;
    padding: 0;
 

}

.form-send-message label{
    font-size: 14px;
    font-weight: 300;
    color: #505050;
}