@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

ion-icon {
    pointer-events: none;
}

header {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;

}

header ion-icon {
    font-size: 42px;
}

.container-messages {
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
    padding-top: 26px;
    line-height: 20px;  
    font-size: 14px;
}

.inline-message{
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 10px 8px;
    font-weight: 400;
}

.inline-message__timestamp{
    color: #aaaaaa;
}

.inline-message__sender, .inline-message__receiver{
    font-weight: 700 !important;
}

.status{
    background-color: #dcdcdc;
}

.public-message{
    background-color: white;
}

.private-message{
    background-color: #ffdede;
}

.container-send-message {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.container-send-message input {
    width: 100%;
    height: 70px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    
}

.container-send-message .send-message-button {
    font-size: 26px;
    margin-left: 17px;
}